body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;    
    border-bottom: 0.3px solid #6969695d; 
}

.cabeçalho-logo{
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.cabeçalho-menu{
    display: flex;
    gap: 32px;
    margin-left: 5%;
}

.cabeçalho-menu-item {
    cursor: pointer;
}

.botao-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .botao-menu {
        display: block;
    }    
    .cabeçalho-menu {
        position: absolute;
        margin-left: 60%;
        flex-direction: column;
        top: 0;
        height: 100%;
        width: 35vh;
        background-color: rgb(255, 255, 255);
        padding: 16px;
        animation-duration: 1s;
        
        
    }
}