@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;    
    border-bottom: 0.3px solid #6969695d;
    background-color: rgb(255, 255, 255);
}

.cabeçalho-logo{
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.cabeçalho-menu{
    display: flex;
    gap: 32px;
    margin-left: 5%;
}

.cabeçalho-menu-item {
    cursor: pointer;
}

.botao-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
.botao-menu-on {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    margin-left: 60%;
}

@media screen and (max-width: 768px){
    .botao-menu, .botao-menu-on {
        display: block;
    }    
    .cabeçalho-menu {
        position: absolute;
        margin-left: 60%;
        flex-direction: column;
        top: 0;
        height: 100%;
        width: 35vh;
        background-color: rgb(255, 255, 255);
        padding: 16px;
        animation-duration: 1s;
        margin-left: 100%;      
    }
}

@keyframes showSidebar {
    from {margin-left: 100%;}
    top {margin-left: 60%;}
}

footer {
    padding: 50px;
}

.body {
    margin: 20px;
}

.body1 {
    display: flex;
    width: 100%;
}
.imagem01 {
    margin: 20px;
    width: 200px;
    height: 180px;  
}
.imagem02 {
    margin: 20px;
    width: 200px;
    height: 180px;
}
.body2{
    display: flex;
    width: 100%;
    
}
#divBusca{
    background-color:#d1930de3;
    border:solid 1px;
    border-radius:15px;
    max-width: 500px;
    height: 35px;
  }
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:95%;
    width:90%;
  }
  #btnBusca{
    height: 20px;
    margin:8px 0 8px 0;
    cursor: pointer;
  }
/* .exames img{
    height: 250px;
    width: 350px;
  }
.Lista-exame{
    font-family: cursive;
    white-space: nowrap;
} */

.exames{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}
.imagem-exame{
    height: 50px;
    width: 50px;
    align-items: center;
    margin-bottom: 1vh;
    border:0.2px solid ;
    border-radius: 100%; 
    background-color: white;
}
.imagem-veja-mais{
    height: 30px;
    width: 30px;
}
.vejaMais{
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
}

.principais-exames {
    width: auto;
    height: auto;
    min-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin: 2vh;
    padding: 2vh;
    background-color: darkgrey;
    border-radius: 30px;
}
.principais-exames a{
    /* text-decoration: none; */
    color: brown;
}
.atalho-agendamento{
    font-size: 12px;
}
p{  
    text-align: center;
    width: 20em;
}

h2 {
    font-size: 1.5em;
    margin: 0.5vh;
}

.exame-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 1vh;
    background-color: bisque;
    border-radius: 20%;
    height: 220px;
    width: 220px;
}

@media (max-width: 1080px){
    .principais-exames{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        min-width: 260px;
    }
}